# Бинарные файлы
bin/
*.exe
*.out
*.test

# Файлы зависимостей
vendor/

# Среда разработки
.idea/
.vscode/
*.swp

# Системные файлы
.DS_Store
Thumbs.db

# Логи и кэш
*.log
*.cache

# Тестовые покрытия
coverage.txt
*.cover
*.prof

# Go модули
go.sum